version: '3'

services:
  namenode:
    image: bde2020/hadoop-namenode:2.0.0-hadoop3.2.1-java8
    container_name: namenode
    restart: always
    ports:
      - 50070:9870
      - 9000:9000
    volumes:
      - hadoop_namenode:/hadoop/dfs/name
    environment:
      - CLUSTER_NAME=test
    env_file:
      - ./hadoop.env

  datanode:
    image: bde2020/hadoop-datanode:2.0.0-hadoop3.2.1-java8
    container_name: datanode
    restart: always
    volumes:
      - hadoop_datanode:/hadoop/dfs/data
    environment:
      - SERVICE_PRECONDITION=namenode:9870
    env_file:
      - ./hadoop.env
  
  resourcemanager:
    image: bde2020/hadoop-resourcemanager:2.0.0-hadoop3.2.1-java8
    container_name: resourcemanager
    restart: always
    environment:
      - SERVICE_PRECONDITION=namenode:9000 namenode:9870 datanode:9864
    env_file:
      - ./hadoop.env
    ports:
      - 8088:8088

  nodemanager:
    image: bde2020/hadoop-nodemanager:2.0.0-hadoop3.2.1-java8
    container_name: nodemanager
    restart: always
    environment:
      - SERVICE_PRECONDITION=namenode:9000 namenode:9870 datanode:9864 resourcemanager:8088
    env_file:
      - ./hadoop.env

  zookeeper:
    image: zookeeper:3.4.10
    container_name: zookeeper
    restart: always
    ports:
      - 2181:2181
    environment:
      ZOO_MY_ID: 1
      ZOO_SERVERS: server.1=zookeeper:2888:3888

  hbase-master:
    image: bde2020/hbase-master:1.0.0-hbase1.2.6
    container_name: hbase-master
    hostname: hbase-master
    ports:
      - 16000:16000
      - 16010:16010
    environment:
      - SERVICE_PRECONDITION=namenode:9000 datanode:9864 zookeeper:2181
    env_file:
      - ./hbase-distributed-local.env
    depends_on:
      - zookeeper

  hbase-regionserver:
    image: bde2020/hbase-regionserver:1.0.0-hbase1.2.6
    container_name: hbase-regionserver
    hostname: hbase-regionserver
    ports:
      - 16030:16030
    environment:
      - SERVICE_PRECONDITION=namenode:9000 datanode:9864 hbase-master:16000 zookeeper:2181
    env_file:
      - ./hbase-distributed-local.env
    depends_on:
      - zookeeper

  # ============================================================================
  # Spark Cluster (for distributed computation)
  # ============================================================================
  spark-master:
    image: bde2020/spark-master:3.1.1-hadoop3.2
    container_name: spark-master
    hostname: spark-master
    ports:
      - 8080:8080
      - 7077:7077
    environment:
      - INIT_DAEMON_STEP=setup_spark
      - CORE_CONF_fs_defaultFS=hdfs://namenode:9000
    depends_on:
      - namenode
      - datanode

  spark-worker:
    image: bde2020/spark-worker:3.1.1-hadoop3.2
    container_name: spark-worker
    hostname: spark-worker
    ports:
      - 8081:8081
    environment:
      - SPARK_MASTER=spark://spark-master:7077
      - CORE_CONF_fs_defaultFS=hdfs://namenode:9000
    depends_on:
      - spark-master

  # ============================================================================
  # Flume Agent (for data collection pipeline)
  # ============================================================================
  flume:
    image: probablyfine/flume:latest
    container_name: flume
    hostname: flume
    volumes:
      - ./flume-traffic.conf:/opt/flume/conf/flume.conf
      - flume_incoming:/data/incoming
      - flume_checkpoint:/data/flume/checkpoint
      - flume_data:/data/flume/data
    environment:
      - FLUME_AGENT_NAME=traffic_agent
    command: >
      flume-ng agent
      --name traffic_agent
      --conf /opt/flume/conf
      --conf-file /opt/flume/conf/flume.conf
      -Dflume.root.logger=INFO,console
    depends_on:
      - namenode
      - hbase-master

volumes:
  hadoop_namenode:
  hadoop_datanode:
  flume_incoming:
  flume_checkpoint:
  flume_data:

